.standard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(72, 123, 218);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
}

.disabled {
  background-color: rgb(201, 201, 201);
  color: rgb(99, 99, 99);
  cursor: default;
}
