.container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: #FFF;
    color: black;
    min-width: 1.5rem;
    min-height: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
} 

.disabled {
    background-color: lightgray;
    cursor: auto;
}