.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  background-color: rgb(229, 229, 229);
}

.movie_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width: 860px) and (max-width: 1200px) {
  .movie_wrapper {
    justify-content: flex-start;
  }
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
