.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  width: 300px;
}

.searchIcon {
  font-size: 20px;
  color: black;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}
.error {
  color: rgb(247, 80, 80);
  font-size: 14px;
  margin-top: 2px;
}
