.signUp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link{
    text-align: end;
    color: white;
    font-size: 14px;
    cursor: pointer;
    &:hover{
      color: rgb(72, 123, 218);
      cursor: pointer;
  }
}


