.container {
  cursor: pointer;
  font-size: 1rem;
  color: black;
  width: 16rem;
  &:hover {
    transform: scale(1.04);
    transition: all 0.3s ease;
  }
}
.card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
}
.image_wrapper {
  display: flex;
  width: 100%;
  height: 22rem;
}
.image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

.short_movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  min-height: 7.5rem;
  text-align: center;
}

.movie_name {
  padding: 0 0.8rem;
}

.movie_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card_info_item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
}
.label_info {
  color: rgb(165, 166, 167);
}
.date {
  font-size: 0.9rem;
}
.rating {
  font-weight: 600;
  color: rgb(34, 62, 223);
}
.icon_imdb {
  display: inline-flex;
  background: rgb(248, 188, 59);
  padding: 0 0.1rem;
  margin-right: 0.3rem;
  border-radius: 2px;
  outline: 1px solid black;
  font-size: 0.8rem;
  font-weight: bold;
}
